@import "utils/fonts";
@import "utils/mixins";
@import "utils/normalize";
@import "utils/bootstrap_base";
@import "utils/tables";
@import "utils/grid";

@import "utils/layout_helpers";

$font-stack: 'Circular', sans-serif;
$font-color: #323232;

$bold: bold;
$light: 300;
$normal: normal;
$medium: 500;
$black: 900;

body {
  font-family: $font-stack;
  color: $font-color;
  @include min-bp(960px) {
    font-size: 16px;
  }
}

.footer {
  .social_media {
    font-size: 2em;
    text-align: center;
    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px;
    }
  }
}

@import "components/nav";

@import "home";
@import "register";
@import "live";